@font-face {
    font-family: Geist;
    src: url(assets/geist.ttf);
}

/* general styles */

::selection {
    color: rgb(255, 130, 224);
    background: none;
}

* {
    font-family: Geist;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    scrollbar-width: thin;
    scrollbar-color: rgb(179, 97, 157) transparent;
}

body {
    background-color: rgb(0, 0, 0);
    margin: 0;
    display: flex;
    flex-direction: row;
    min-height: 100vh;
}

.intro-description {
    display: flex;
    flex-direction: column;
    gap: 16px;
    font-size: 14px;
    color: azure;
    padding: 24px;
    width: 400px;
    height: auto;
    border-right: 1px #222222 solid;
    text-decoration: wavy;
}

.intro-description:has(#left-body:hover) {
    background-image: url(assets/lbody.webp);
}

#left-body {
    position: sticky;
    top: 24px;
    pointer-events: auto;
}

#links {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 4px;
}

#mobile-text {
    display: none;
}

#switch-button {
    color: #222;
    padding: 8px 12px;
    width: 100%;
    text-align: center;
    background-color: #ccc;
    border: 0.5px solid #333;
    border-radius: 8px;
    position: sticky;
    top: 90px;
    transition: 0.3s all;
}

#switch-button:hover {
    color: #000;
    background-color: #fff;
    text-decoration:none;
    cursor: pointer;
    transition: 0.2s all;
}

a:link,
a:visited {
    color: azure;
    text-decoration: none;
}

a:hover {
    color: rgb(255, 130, 224);
    text-decoration: wavy;
    cursor:pointer;
}

.update-date {
    z-index: 2;
    left: 24px;
    bottom: 24px;
    position: fixed;
    margin: 0;
    color: azure;
    font-size: 12px;
}

.content {
    background: linear-gradient(0deg, rgb(13, 13, 13) 0%, rgba(0,0,0,1) 100%);
    column-count: 4;
    column-gap: 24px;
    height: fit-content;
    width: 100%;
    padding: 24px;
}

.media-item {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 24px;
    break-inside: avoid;
    transition: opacity 0.2s cubic-bezier(.34,.36,0,.98), transform 0.2s cubic-bezier(.34,.36,0,.98);
    opacity: 1;
    transform: none;
}

.media-item.hiding {
    opacity: 0.2;
    transform: translateY(-10px);
}

.media-item.hidden {
    display: none;
    opacity: 0;
    transform: translateY(-10px);
}

.p-image {
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 100%;
    flex-wrap: nowrap;
    overflow-x: auto;
}

.p-image img,
.p-image video {
    width: 100%;
    border-radius: 8px;
    border: 1px #222 solid;
    object-fit: cover;
    height: auto;
    z-index: 0;
    background-size: cover;
}

.p1 {
    display: flex;
    flex-direction: column;
    overflow: auto;
    gap: 16px;
}

.p-top {
    display: flex;
    flex-direction: column;
    margin-bottom: 8px;
    gap: 4px;
}

.p-details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
    align-items: center;
    width: 100%;
    line-height: 24px;
    color: #9c9c9c;
}

.p-year {
    color: azure;
    margin-left: 12px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 8px;
    padding-right: 8px;
    border: 1px solid #9c9c9c;
    border-radius: 16px;
}

.p-title {
    width: 100%;
    display: inline-block;
}

.p-text {
    color: rgba(185, 185, 185, 0.849);
    width: 100%;
    display: inline-block;
}

#mobile-reminder {
    display: none;
}

.filter-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin-top: 16px;
    background-color: none;
}

.filter-buttons button {
    background-color: #333;
    color: azure;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    border-radius: 99px;
    transition: all 0.1s;
}

.filter-buttons button.clear-filter-button {
    background-color: none;
    color: azure;
    padding: 8px 16px;
}

.filter-buttons .filter-button:hover {
    transform: translateY(-2px);
    background-color: rgb(255, 130, 224);
    color: black;
}

.filter-buttons .selected {
    background-color: rgb(255, 130, 224);
    color: #000;
}

.filter-buttons .clear-filter-button:hover {
    color: #e74c3c;
    background-color: #f5f5f5;
    transform: rotate(-4deg);
}

@media screen and (max-width: 680px) {

    body {
        flex-direction: column;
    }

    .intro-description {
        width: 100%;
        height: auto;
        border-bottom: 1px #222222 solid;
        padding: 16px;
        color: #f5f5f5;
        z-index: 2;
    }

    .intro-description a {
        color: rgb(255, 188, 238);
    }

    #left-body {
        display: none;
    }

    .content {
        column-count: 1;
        column-gap: 16px;
        padding: 16px;
    }

    #web-text {
        display: none;
    }

    #locations {
        display: none;
    }

    #mobile-text {
        display: inline;
    }
    
    .p-details {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        text-align: left;
        align-items: center;
        line-height: 16px;
    }

    .p-image img,
    .p-image video {
        border-radius: 6px;
    }

    .p-year {
        font-size: 14px;
        color: #9c9c9c;
        margin: 0;
        padding-top: 2px;
        padding-bottom: 2px;
        padding-left: 8px;
        padding-right: 8px;
        border: none;
    }

    #mobile-reminder {
        display: inline;
        color: #f5f5f5;
        padding: 16px 16px 24px 16px;
        font-size: 14px;
        margin: 24px 0 64px 0;
        text-align: center;
        border-bottom: #333 1px dashed;
        border-top: #333 1px dashed;
    }

    .update-date {
        left: 24px;
        bottom: 16px;
        position: fixed;
        margin: 0;
        color: azure;
        font-size: 12px;
    }

    .filter-buttons {
        gap: 8px;
        margin-top: 0;
    }

    .filter-buttons button {
        transition: all 0.2s;
    }

    .filter-buttons .filter-button:active {
        transform: translateX(-8px);
        background-color: rgb(255, 130, 224);
        color: azure;
    }

    .filter-buttons .clear-filter-button:active {
        color: #e74c3c;
        background-color: none;
        transform: rotate(-16deg);
    }
}